body{
    background-color: rgba(255, 249, 240, 0.192);
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
    color:rgb(99, 99, 99)
}
h2{
    color:rgb(99, 99, 99);
    font-size:35px;
}
span{
    color:orange
}
.flexible{
    display:flex;
}
section{
    margin-top:50px;
    height:500px;
    margin-bottom: 150px;
}
.half{
    width: 40%;
    margin-left: 5%;
}
.first-section{
    /* margin-left: 5%;
    padding-left:2% ; */
}
.first-section p{
    margin-top: 20px;
    color: rgb(141, 141, 141);
    font-size: 18px;
    margin-bottom: 40px;
}
.second-section{
    background-image: url(./images/7.png);
    background-repeat: no-repeat;
}
a{

    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    color:white;
    padding: 10px 30px;
    border-radius: 30px;
}
img{
    width: 130%;
}
.first-section h1{
    margin-top: 150px;
}
.second-section img{
    margin-top: 46px;
}
.second-section h2{
    margin-top: 80px;
}
.last{
    width: 60%;
    margin: auto;
}
.third-section p,h2{
    text-align: center;
}
.area{
    width: 1070px;
    margin:auto;
    padding-left: 1%;
}
.box{
    padding: 1.5%;
    width:28%;
    margin-left: 40px;
    background:white;
    box-shadow:10px 10px 15px 15px rgba(128, 128, 128, 0.329);
    border-radius: 5%;
    margin-top: 50px;
}

.box img{
    width: 100%;
}